:global {

  html,
  body {
    font-size: 14px;
    font-family: -apple-system, "Helvetica Neue", "Helvetica", "Arial", "Roboto", sans-serif;
  }

  body {
    margin: 0;
  }

  .container {
    max-width: 600px;
    width: 100%;
    margin: 0 auto;
  }

  h1 {
    font-size: 68px;
    font-weight: 900;
  }

  button,
  textarea,
  input {
    background-color: white;
    border: 1px solid black;
    padding: 1em;
    font-size: 1.1rem;
    border-radius: 3px;
    outline: none;
    appearance: none;
    box-sizing: border-box;
  }

  button.btn {
    background-color: #fafafa;
    border: 1px solid rgba(black, 0.2);
    box-shadow: 0 0 0 3px rgba(black, 0.1);
    cursor: pointer;

    &:hover {
      border: 1px solid rgba(black, 0.3);
      box-shadow: 0 0 0 3px rgba(black, 0.15);
    }

    &:focus {
      background-color: darken(#fafafa, 2%);
      border: 1px solid rgba(black, 0.4);
      box-shadow: 0 0 0 3px rgba(black, 0.2);
    }
  }

  .form-row {
    margin-bottom: 1rem;
  }

  label {
    margin-bottom: 0.5rem;
    font-size: 1rem;
    display: block;
    font-weight: 500;
  }

  select, textarea, input {
    display: block;
    width: 100%;
    font-size: 1.1rem;
    padding-top: 0.3em;
    padding-bottom: 0.3em;
  }

  #arrow {
    display: none;
  }
}
